#player,#player a{ color:#fff; font-family: georgia; }
#player{ background:url(http://static.tumblr.com/htrhrr7/T9Klzz3lp/volumecaveira.png); background-position:bottom; background-color: #000000; font-size: 10px;}
#player .mainImage{ background:url(http://static.tumblr.com/htrhrr7/IRZlzz20v/byme.png); }

#player #baseLeft{ width:93px; }
#player #baseRight{ width:145px;}
#player .button{  width:26px; }
#player #play{ background:url(http://static.tumblr.com/htrhrr7/EXelzz21e/plulu.png); }
#player #play,#player #pause{ left:26px; }
#player #previous{ left:0px; }
#player #next{ left:52px; }
#player #title{ left:90px;  }
#player #tooltip{ right:196px; }
#player #timer{ right:120px;  }
#player #list{ right:0px; }

#player #seeker{ right:320px; }
#player #seekerBase{ border-color:#fff;  }
#player #seekerBuffered{ background-color:#ddd; }
#player #seekerSliderBase{ background-color:#fff; }

#player #volume{ width:65px; right:39px; }
#player #volumeSlider{ width:8px; background:url(http://static.tumblr.com/htrhrr7/dcnlzz3mz/volumecaveira2.png); }

#playlist,#playlist .module,#playlist h3{ border-color:#fff;}
#playlist .module{  color:#fff; background-color:#000000; }
#playlist h3{ background:url(http://dl.dropbox.com/u/58708531/bar2.jpg); color:#fff; background-color:#000000;  }
#playlist .even{background-color:#000000;}
#playlist .odd{ background-color:#000000;}
#playlist .focus{ background-color:#000000; color:#fff;}
